
@charset 'UTF-8';

body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #F0F0F0;

}
a{
    text-decoration: none;
    color: inherit;
}
/*
 * MENU
 */
.navbar{
    background-color:rgba(30, 143, 255, 0.76);
    height: 45px;
    color: #FFF;
    line-height: 45px;/*la lignement du texte*/
    display: flex;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;

}
.navbar a{
    display: block;
    padding: 0 20px;
    transition: background-color 0.4s ease;
}
.navbar a:hover{
    background-color:#842dd6;
    transform: translateY(2px);
}
/*
 * SKY
 */
.sky{
    background: linear-gradient(royalblue, lightskyblue);
    background-repeat: no-repeat;
    height: 250px;
    color: #fff;
    position: relative;
    line-height: 300px;
    overflow: hidden;


 }
.sky-title{
    line-height: 300px;
    z-index: 4;
    text-shadow: 2px 2px 5px #487eb0;
    margin: 0; /*margin 0 pour collé le sky au menu*/    
    text-align: center;
}

.sky-cloud1{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 400px;
    animation-name: cloudmouveX;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;


}
.sky-cloud2{
    position: absolute;
    top: 25px;
    left: 10px;
    width: 400px;
    animation-name: cloudmouveX;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

}

@keyframes cloudmouveX{ /*pour l'annimation de nuage*/
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(500px);
    }
}
.container{
    background-color: #F0F0F0;
}
/* .content{
    padding: 10px;
} */
.content article{
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCC;
    background: #FFF;
    margin-bottom: 10px;
}
.content article:last-child{
    margin: 10px;
}
aside.sidebar{
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #CCC;
}
.menu a{
    display: block;
}
.footer{
    background-color: #222;
    color: #F0F0F0;
}
/* @media screen and (min-width: 768px) {
    .footer {
        background-color: red;
    }
} */
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-content: space-between;
        align-items: stretch;
    }
    .content{
        /* flex-grow: 2; */
        flex-basis: 60%;
        order: 1;
    }
    .sidebar{
        /* flex-grow: 1; */
        flex-basis: 40%;
        margin-top: 0;
    }
    .footer{
        display: flex;
        justify-content: space-between;
    }
    .associate,
    .network,
    .newsletter{
        
        width: 250px;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        background-color: rgb(93, 45, 182);
    }
}